{% extends 'base.html' %}
{% load static %}
{% block content %}


        <div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">Painel de Controle</h2>
            </div>
          </header>
          <!-- Dashboard Counts Section-->
          
          <!-- Dashboard Header Section    -->
          <section class="dashboard-header">
            <div class="container-fluid">
              <div class="row">
                <!-- Statistics -->
                <div class="statistics col-lg-3 col-12">
                  {% for z in x %}
                  <div class="statistic d-flex align-items-center bg-white has-shadow">
                    <div class="icon bg-red"><i class="fa fa-tasks"></i></div>
                    <div class="text"><strong> {{z.viagens_carro__carro_modelo}}</strong><br><small><b>{{z.qtdCarro}} Viagens feitas</b></small></div>
                  </div>
                  <!--
                  <div class="statistic d-flex align-items-center bg-white has-shadow">
                    <div class="icon bg-green"><i class="fa fa-calendar-o"></i></div>
                    <div class="text"><strong>152</strong><br><small>Interviews</small></div>
                  </div>
                  <div class="statistic d-flex align-items-center bg-white has-shadow">
                    <div class="icon bg-orange"><i class="fa fa-paper-plane-o"></i></div>
                    <div class="text"><strong>147</strong><br><small>Forwards</small></div>
                  </div>
                   -->
                  {% endfor %} 
                </div>
                <!-- Line Chart            -->
                          <section class="updates no-padding-top">
              <div class="container-fluid">
              <div class="row">
             
                   <!-- Recent Updates-->
                  <div class="col-lg-12">
                  <div class="card">
                    <div class="card-close">
                      <div class="dropdown">
                        <button type="button" id="closeCard2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                        <div aria-labelledby="closeCard2" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                      </div>
                    </div>
                    <div class="card-header d-flex align-items-center">
                      <h3 class="h4">Viagens</h3>
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">  
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Condutor</th>
                              <th>Data</th>
                              <th>Destino</th>
                              <th>Kilometragem</th>
                            </tr>
                          </thead>
                          <tbody>
                          
                            {% for z in x %}
                            <tr>
                              <th scope="row">{{z.id}}</th>
                              <td>{{z.viagens_condutor__condutor_nome}}</td>
                              <td>{{z.viagens_data}}</td>
                              <td>{{z.viagens_destino}}</td>
                              <td>{{z.viagens_kilometros}}</td>
                            </tr>
                            {% endfor %}

                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
       
              </div>
            </div>
          </section
          <!-- Projects Section-->

          <!-- Client Section-->
          <section class="client no-padding-top">
            <div class="container-fluid">
              <div class="row">

              </div>
            </div>
          </section>
          <!-- Feeds Section-->
          <section class="feeds no-padding-top">
            <div class="container-fluid">
              <div class="row">
 
              
              </div>
            </div>
          </section>
          <!-- Updates Section                                                -->
          <section class="updates no-padding-top">
            <div class="container-fluid">
              <div class="row">
                <!-- Recent Updates-->
              
                 <!-- Daily Feeds -->

                <!-- Recent Activities -->
               
              </div>
            </div>
          </section>
         
  {% endblock %}
