{% extends 'carcontrol/base.html' %}
{% load static %}
{% block content %}
<!-- grafico -->
<br>
<div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Viagens por Condutor
            <ul class="pull-right panel-settings panel-button-tab-right">
              <li class="dropdown"><a class="pull-right dropdown-toggle" data-toggle="dropdown" href="#">
                <em class="fa fa-cogs"></em>
              </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li>
                    <ul class="dropdown-settings">
                      <li><a href="#">
                        <em class="fa fa-cog"></em> Settings 1
                      </a></li>
                      <li class="divider"></li>
                      <li><a href="#">
                        <em class="fa fa-cog"></em> Settings 2
                      </a></li>
                      <li class="divider"></li>
                      <li><a href="#">
                        <em class="fa fa-cog"></em> Settings 3
                      </a></li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
            <span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
          <div class="panel-body">
            <div class="canvas-wrapper">
              <canvas class="chart" id="pie-chart" ></canvas>
            </div>
          </div>
        </div>
      </div>
<div class="panel-body">
            <div class="canvas-wrapper">

            </div>
          </div>
<div class="panel panel-info">
<div class="panel-heading">Viagens</div>
<div class="panel-body">
  <form method="post"  >
    <label>Buscar Por:</label>
    <select name="tbl" id="tbl" >
      <option value="1"> Destino </option>
      <option value="2"> Condutor </option>
    </select>
    <input type="text" name="vlr" id="vlr" >
  </form>
</div>
<div id="resultado">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Carro</th>
        <th>Condutor</th>
        <th>Destino</th>
        <th>Kilometragem</th>
        <th>Data</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for z in x %}
      <tr>
        <th scope="row">{{z.id}}</th>
        <td>{{z.viagens_carro__carro_modelo}}</td>
        <td>{{z.viagens_condutor__condutor_nome}}</td>
        <td>{{z.viagens_destino}}</td>
        <td>{{z.viagens_kilometros}}</td>
        <td>{{z.viagens_data}}</td>
        <td>
        <a href="{% url 'deleta' z.id %}">  <button type="button" class="btn btn-danger">Apagar</button></a>
          <button type="button" class="btn btn-warning">Editar</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {{msg}}
</div>
{% endblock %}
